/* font-family: 'Nosifer', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    background-color: #A9A9A9;
    padding: 50px 73px;
} */

#divMom {
    display: flex;
}

#firstMain {
    background-color: white;
    width: 50%;
}

nav {
    padding-top: 21px;
    display: block;
    margin-left: 67px;
}

a {
    font-size: 20px;
    text-decoration: none;
    margin-right: 86px;
    color: #A9A9A9
}

input {
    height: 39px;
    width: 139px;
    border-radius: 11px;
    border: 3px red solid;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 700;
}

input::placeholder {
    color: purple;
}

#logo {
    width: 196px;
    margin: 50px 0 38px 74px;
}

h1 {
    font-size: 52px;
    color: black;
    margin-left: 68px;
}

.firstH1 {
    width: 10px;
    font-family: 'Nosifer', sans-serif
}

p {
    width: 19em;
    font-size: 20px;
    margin-left: 68px;
    padding-bottom: 60px;
    color: blue;
}

#secondMain {
    display: flex;
    /* justify-content: center; */
    background-color: red;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 53px;
    color: #ffffff;
    text-decoration: 11px underline #000000;
    margin-top: 39px;
    margin-bottom: 42px;
}

h3 {
    
}

#secondMain  div img.myImg{
    position: absolute;
    opacity: 0;
}

#secondMain  div img.image {
    opacity: 1;
}

#secondMain  div h3.image-text {
    position: absolute;
    opacity: 0;
}

#secondMain  div h3.text {
    opacity: 1;
}



.firstDiv {
    background-color: white;
    width: 362px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    border: none;
}

#image {
    width: 340px;
}

.image-text {
    font-size: 24px;
    margin-top: 14px;
    color: #000000;
}