/* font-family: 'Nosifer', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    background-color: #A9A9A9;
    padding: 50px 73px;
} */

#divMom {
    display: flex;
}

#firstMain {
    background-color: white;
    width: 50%;
}

nav {
    padding-top: 21px;
    display: block;
    margin-left: 67px;
}

a {
    font-size: 20px;
    text-decoration: none;
    margin-right: 86px;
    color: #A9A9A9
}

input {
    height: 39px;
    width: 139px;
    border-radius: 11px;
    border: 3px red solid;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 700;
}

input::placeholder {
    color: purple;
}

#mySectionLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mySectionTexts{
    display: block;
    margin-top: 59px;
}

#logo {
    width: 276px;
    height: 219px;
    margin-left: 101px;
}

h1 {
    font-size: 52px;
    color: black;
    margin-left: 68px;
}

.firstH1 {
    width: 10px;
    font-family: 'Nosifer', sans-serif;
}

p {
    width: 19em;
    font-size: 20px;
    margin-left: 68px;
    padding-bottom: 60px;
    color: blue;
}

#secondMain {
    display: flex;
    background-color: red;
    width: 431px;
    flex-direction: column;
    align-items: center;
    border-radius: 66px;
    height: 625px;
    margin-left: 170px;
    margin-top: 95px;
}

#secondDiv {
    display: flex;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    margin-top: 39px;
    margin-left: 18px;
}

#meuId {
    text-align: center;
    font-size: 79px;
    color: #ffffff;
    margin-top: 46px;
    margin-bottom: 42px;
    margin-left: 58px;
    font-family: 'Rubik Scribble', system-ui;
}

h3 {
    margin-top: 20px;
}

.firstDiv img {
    width: 275px;
}

#secondMain div img.myImg {
    position: absolute;
    opacity: 0;
}

#secondMain div img.image {
    opacity: 1;
}


#secondMain div h3.image-text {
    position: absolute;
    opacity: 0;
}

#secondMain div h3.text {
    opacity: 1;
}



.firstDiv {
    width: 294px;
    height: 387px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    border: none;
    background-color: white;
}

.image-text {
    font-size: 24px;
    margin-top: 14px;
    color: #000000;
}